$bodyBg: rgb(235, 235, 235); // Light gray background color
$mainBg: white; // White background color
$mainColor: #999; // Dodger blue accent color
$txtColor: #333333; // Dark gray text color
$purple: #8e44ad; // Deep purple accent color
$orange: #000000; // Carrot orange accent color
$white: #ffffff; // White background color
$black: #333333; // Dark gray text color
$green: #2ecc71; // Shamrock green accent color
$red: #e74c3c; // Tomato red accent color



$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 300px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
